.servicios {
    
    &__contenedor {
        background-image: linear-gradient(#d6d686, #cfcf9d);
          opacity: 90%;
          text-align: center;
          margin-top: 0;  
      }
    &__titulo {
        font-size: 3.5rem;
        font-family: "Barlow Condensed", sans-serif;
        color: rgb(43, 43, 43);
        text-align: center;
        padding-top: 5%;
        margin-top: 7%;
        margin-bottom: 3%;
        transition:4s;
    }
    &__titulo:hover{
        font-size: 3.8rem;
        color: black;
    }

   &__frase {
        font-size: 2rem;
        font-family: "Barlow Condensed", sans-serif;
        color: rgb(61, 61, 61);
        margin-bottom: 5%;
        margin-left: 10%;
        padding-bottom: 5%;
   }


    &__detalle p {
        color:rgb(94, 154, 155);
        font-family:"Barlow Condensed", sans-serif;
        font-size: 1.8rem;
        margin: 1rem;
        padding: 1rem;   
    }   
    }
      

    * {
    margin: 0px;
    padding: 0px;
    -webkit-box-sizing: border-box;
     box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif ;
    }
  
  body {
    overflow-x: hidden;
  }
  
  .zoom {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
    color: salmon;
    font-family:"Barlow", sans-serif;
    font-size: 2rem;
    margin: 1rem;
    text-decoration: none;

  }
  
  .zoom:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
            color: black;
  }
  
   a {
     text-decoration: none;
    }


    .fila__fotografia--posicion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
  }
  
    .fila__branding--posicion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
    
    .fila__diseño--posicion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }

    .fila__contenido--posicion {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-align: center;
            -ms-flex-align: center;
                align-items: center;
        -webkit-box-pack: center;
            -ms-flex-pack: center;
                justify-content: center;
    }
  

/*MEDIA QUERIES*/

/* Pantalla pequeña*/
 
 @media (max-width: 730px) {
 .servicios {
   &__titulo {
    font-size: 2rem;
    font-family: "Barlow Condensed", sans-serif;
    color: rgb(43, 43, 43);
    text-align: center;
    padding-top: 2%;
    margin-top: 2%;
    margin-bottom: 2%;
    }

    &__frase {
    font-size: 1.3rem;
    font-family: "Barlow Condensed", sans-serif;
    color: rgb(61, 61, 61);
    margin-bottom: 5%;
    padding-bottom: 5%;
    }


    &__detalle h2 {
        font-size: 1.5rem;
        margin: 0.5rem;
    }

    &__detalle p {
        margin: 0.5rem;
        padding: 1rem; 
        font-size: 1.3rem;
    } 
   }
 }

/*FIN MEDIA QUERIES*/
/*FIN ESTILO SECCIÓN SERVICIOS*/


   

